<ion-header>
  <ion-toolbar>
    <ion-title>Lista de Usuarios</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list >
    <link rel="stylesheet" href="usuarios-registrados.page.scss">
    <ion-item *ngFor="let usuario of usuarios">
      <ion-label>
        <h2 style="color: white;">{{ usuario.nombre }} {{ usuario.apellido }}</h2>
        <p style="color: white;">Email: {{ usuario.email }}</p>
        <p style="color: white;">Raza: {{ usuario.raza }}</p>
        <p style="color: white;">Rol: {{ usuario.role }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>