html {
    height: 100%;
}

ion-content {
    --ion-background-color: transparent;
    background-image: url('/assets/fondos/fondo_login.jpg');
    background-size: cover;
    background-position: center;
  
    /* Resto de tus estilos */
  }



.login-page {
    width: 400px;
    padding: 8% 0 0;
    margin: auto;
}

.form {
    position: relative;
    z-index: 1;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, .5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
    border-radius: 10px;
}

.form input {
    width: 100%;
    padding: 10px 0;
    font-size: 13px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;

}

h2 {
    color: white;
}


.form .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 12px;
}

.form .message a {
    color: red;
    text-decoration: none;
}

.form .register-form {
    display: none;
}

.btn {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: white;
    font-size: 16px;
    text-decoration: none;
    overflow: hidden;
    transition: .5s;
    margin-top: 15px;
    letter-spacing: 2px
}

.btn:hover {
    background: #FF8C00;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #FF8C00,
        0 0 25px #FF8C00,
        0 0 50px #FF8C00,
        0 0 100px #FF8C00;
}

.btn span {
    position: absolute;
    display: block;
}

.btn span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent,#FFD700);
    animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
    0% {
        left: -100%;
    }

    50%,
    100% {
        left: 100%;
    }
}

.btn span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #FFD700);
    animation: btn-anim2 1s linear infinite;
    animation-delay: .25s
}

@keyframes btn-anim2 {
    0% {
        top: -100%;
    }

    50%,
    100% {
        top: 100%;
    }
}

.btn span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #FFD700);
    animation: btn-anim3 1s linear infinite;
    animation-delay: .5s
}

@keyframes btn-anim3 {
    0% {
        right: -100%;
    }

    50%,
    100% {
        right: 100%;
    }
}

.btn span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #FFD700);
    animation: btn-anim4 1s linear infinite;
    animation-delay: .75s
}

@keyframes btn-anim4 {
    0% {
        bottom: -100%;
    }

    50%,
    100% {
        bottom: 100%;
    }
}

div#araña {
    width: 150px;
    float: left;
}

.btn2 {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: white;
    background-color: transparent;
    font-size: 16px;
    text-decoration: none;
    overflow: hidden;
    transition: .5s;
    margin-top: 15px;
    letter-spacing: 2px;
}

.btn2:hover {
    background: #FF8C00;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #FF8C00,
        0 0 25px #FF8C00,
        0 0 50px #FF8C00,
        0 0 100px #FF8C00;
}

.btn2 span {
    position: absolute;
    display: block;
}

.btn2 span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent,#FFD700);
    animation: btn2-anim1 1s linear infinite;
}

@keyframes btn2-anim1 {
    0% {
        left: -100%;
    }

    50%,
    100% {
        left: 100%;
    }
}

.btn2 span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #FFD700);
    animation: btn2-anim2 1s linear infinite;
    animation-delay: .25s
}

@keyframes btn2-anim2 {
    0% {
        top: -100%;
    }

    50%,
    100% {
        top: 100%;
    }
}

.btn2 span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent,#FFD700);
    animation: btn2-anim3 1s linear infinite;
    animation-delay: .5s
}

@keyframes btn2-anim3 {
    0% {
        right: -100%;
    }

    50%,
    100% {
        right: 100%;
    }
}

.btn2 span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #FFD700);
    animation: btn2-anim4 1s linear infinite;
    animation-delay: .75s
}

@keyframes btn2-anim4 {
    0% {
        bottom: -100%;
    }

    50%,
    100% {
        bottom: 100%;
    }
}
canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Asegúrate de que la lluvia esté detrás del contenido */
}
