<ion-header [translucent]="true">
</ion-header>

<ion-content [fullscreen]="true">


    <body style="display:flex; align-items:center; justify-content:center;">
        <div class="reset-password-page">
            <div class="form">
                <form class="reset-password-form">
                    <h2>Cambiar contraseña</h2>
                    <input type="email" id="email" name="email" [(ngModel)]="email" placeholder="Correo" required />
                    <ion-button fill="clear" class="btn" expand="full" (click)="resetPassword()">Enviar correo de cambio de contraseña</ion-button>
                </form>
            </div>
        </div>

        <canvas id="rainfall"></canvas>
    </body>
</ion-content>
